
.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-left {
}
.header-menu {
}
.header-right {
  margin-left: auto;
  cursor: pointer;
}


.header-left-logo {
   display: flex;
  height: 64px;
  padding: 12px 10px 8px 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.header-left-logo-img {
  height: 100%;
  width: 145px;
  margin: 0 10px;
}

.ant-layout-footer {
  padding: 10px 50px;
}
