
.headercontainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.headerleft {
}
.headermenu {
}
.headerright {
  margin-left: auto;
  cursor: pointer;
}


.headerleftlogo {
   display: flex;
  height: 64px;
  padding: 12px 10px 8px 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.headerleftlogoimg {
  height: 100%;
  width: 145px;
  margin: 0 10px;
}

.antlayoutfooter {
  padding: 10px 50px;
}
