

.actions-container {
  display: flex;
  padding: 0;
  align-items: center;
  margin: 0 8px;
  list-style-type: disc;
  height: 100%;
  width: 100%;
}

.actions-container button {
  border: none;
  cursor: pointer;
}

.action-item {
  display: block;
  cursor: pointer;
  margin-right: 12px;
}

.action-label {
  display: flex!important;
  height: 22px!important;
  padding: 3px;
  color: rgb(51,51,51);
  border-radius: 5px;
  font-size: 13px!important;
}

.action-label::before {
  margin-right: 4px;
  font-size: 13px;
  position: relative;
  top: 2px;
}

.action-label:hover {
  color: rgb(51,51,51);
  background-color: rgba(184, 184, 184, 0.31);
  /*position: relative;*/
  /*top: 1px;*/
}
